ConfigParser==7.1.0
fastjsonschema==2.20.0
ifaddr==0.2.0
ipython==8.12.3
jsonschema==4.23.0
msgspec==0.18.6
numpy==2.1.2
pandas==2.2.3
pydantic==2.9.2
pyzmq==26.2.0
serpent==1.41
SQLAlchemy==2.0.30
tornado==6.4.1
uvloop==0.20.0
