[submodule "hololinked/system_host/assets/hololinked-server-swagger-api"]
	path = hololinked/system_host/assets/hololinked-server-swagger-api
	url = https://github.com/VigneshVSV/hololinked-server-swagger-api.git
[submodule "hololinked-docs"]
	path = hololinked-docs
	url = https://github.com/VigneshVSV/hololinked-docs.git
