argon2-cffi==23.1.0
ConfigParser==6.0.0
ifaddr==0.2.0
ipython==8.21.0
numpy==1.26.4
pandas==2.2.0
pyzmq==25.1.0
serpent==1.41
setuptools==68.0.0
SQLAlchemy==2.0.21
SQLAlchemy_Utils==0.41.1
tornado==6.3.3